<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 220px; height: 900px;">
    <hr >
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/admin/home" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="/admin/agregar" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Agregar Productos
        </a>
      </li>
      <li>
        <a href="/admin/modificar" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Modificar Productos
        </a>
      </li>
      <li>
        <a href="/admin/eliminar" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Eliminar Productos
        </a>
      </li>
    </ul>
    <hr>
    
  </div>