<nav class="navbar bg-light navcolor">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.svgrepo.com/show/65988/cupcake.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Sweet Bakery
      </a>
      <nav class="nav justify-content-right">
        <a class="nav-link text-dark" href="/index">Home</a>
        <a class="nav-link text-dark" href="/productos">Productos</a>
        <a class="nav-link text-dark" href="/login">Login</a>
        <a class="nav-link text-dark nav-carrito" href="/carrito">Carrito <span id="numero-carrito">(0)</span></a>
      </nav>
    </div>
</nav>